@page
@using ApiAlmacen.Pages.requisicioninsumos
@model EditarModel

<h1>Modificar requisición</h1>

<form method="POST" enctype="multipart/form-data" >
 
<div class="form-group">
    <label for="nombreinsumo">nombreinsumo</label>
    <input type="text" class="form-control"
        name="nombreinsumo" id="nombreinsumo" aria-describedby="" value="@Model.Detalles.nombreinsumo">
  </div>
  <div class="form-group">
    <label for="cantidad">cantidad</label>
    <input type="number" class="form-control"
        name="cantidad" id="cantidad" aria-describedby="" value="@Model.Detalles.cantidad">
  </div>  
<div class="form-group">
    <label for="unidad">unidad</label>
    <input type="text" class="form-control"
        name="unidad" id="unidad" aria-describedby="" value="@Model.Detalles.unidad">
  </div>  
<div class="form-group">
    <label for="centro_costo">centro de costos</label>
    <input type="text" class="form-control"
        name="centro_costo" id="centro_costo" aria-describedby="" value="@Model.Detalles.centro_costo">
  </div>

  <div class="form-group">
    <label for="prioridad">prioridad</label>
    <input type="text" name="prioridad" class="form-control"
         id="prioridad" aria-describedby="" value="@Model.Detalles.prioridad">
  </div>
<div class="form-group">
    <label for="solicitante">solicitante</label>
    <input type="text" class="form-control"
        name="solicitante" id="solicitante" aria-describedby="" value="@Model.Detalles.solicitante">
  </div>
<div class="form-group">
    <label for="revisor">revisor</label>
    <input type="text" class="form-control"
        name="revisor" id="revisor" aria-describedby="" value="@Model.Detalles.revisor">
  </div>
<div class="form-group">
    <label for="autorizante">autorizante</label>
    <input type="text" class="form-control"
        name="autorizante" id="autorizante" aria-describedby="" value="@Model.Detalles.autorizante">
  </div>


  <div class="form-group">
    <label for="observaciones">observaciones</label>
    <input type="text" class="form-control"
        name="observaciones" id="observaciones" aria-describedby="" value="@Model.Detalles.observaciones">
  </div>  


  <a asp-page="./Index" class="btn btn-info">Regresar</a>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>