@page
@using ApiAlmacen.Pages.requisicioninsumos
@model IndexModel
@{
    var i = 1;
} 
<h2>Requisición Insumos</h2>
<div class="row"> 
    <a asp-page="./Crear" role="button" class="btn btn-success">Crear</a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombreinsumo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Numero</th>
        <th scope="col">Solicitante</th>
        <th scope="col">Revisor</th>
        <th scope="col">Autorizante</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Centro de costo</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Unidad de medida</th>
        <th scope="col">Fecha</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var al in Model.requisicioninsumos)
    {
    <tr>
      <td>@i</td>
      <td>@al.nombreinsumo</td>
     
      <td>@al.cantidad</td>
      <td>@al.numero</td>
      <td>@al.solicitante</td>
      <td>@al.revisor</td>
      <td>@al.autorizante</td>
      <td>@al.observaciones</td>
      <td>@al.centro_costo</td>
      <td>@al.prioridad</td>
      <td>@al.unidad</td>
       <td>@al.fecha</td>
      <td><a asp-page="./Borrar" asp-route-id="@al.id" class="btn btn-info">Borrar </a>
      <a asp-page="./Editar" asp-route-id="@al.id" class="btn btn-info">Editar </a>
        </td>
    </tr>
        i++;
    }
  </tbody>
</table>
