@page
@using ApiAlmacen.Pages.entradas
@model IndexModel
@{
    var i = 1;
} 
<h2>Entradas</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Almacen</th>
        <th scope="col">Nombre de insumo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha de entrada</th>
        <th scope="col">Importe</th>
        <th scope="col">Precio unitario</th>
        <th scope="col">Nombre provedor</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var al in Model.Entradas)
    {
    <tr>
      <td>@i</td>
      <td>@al.nombrealmcen</td>
      <td>@al.nombreinsumo</td>
      <td>@al.cantidad</td>
      <td>@al.fecha_entrada</td>
      <td>@al.importe</td>
      <td>@al.precio_unitario</td>
      <td>@al.nomproveedor</td>
 
    </tr>
        i++;
    }
   
  </tbody>
</table>
